.upcoming-events {
  .event-card {
    padding-top: 8rem !important;
    padding-bottom: 8rem !important;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: all 0.3s ease;
    text-align: left;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    &:hover {
      align-items: center;
      justify-content: center;
    }
  }

  .event-card h3 {
    margin: 0;
    transition: all 0.3s ease;
  }

  .transition-text {
    transition: all 1.8s ease-in-out;
    -webkit-transition: all 1.8s ease-in-out;
    -moz-transition: all 1.8s ease-in-out;
    -ms-transition: all 1.8s ease-in-out;
    -o-transition: all 1.8s ease-in-out;
  }

  .transition-text:hover {
    text-align: center !important;
    justify-content: center !important;
  }
}
