@use "../../styles/variables" as v;

footer {
  background-color: v.$color2;
  color: v.$color3;
  padding-top: 150px;
  padding-bottom: 150px;

  .logo {
    display: block;
    margin: 0 auto; // Logoyu ortalamak için
  }

  p {
    text-align: justify; // Yazıları iki yana yaslamak için
  }

  .social-icons {
    display: flex;
    justify-content: center; // İkonları ortalamak için
    margin-top: 1rem;

    a {
      margin: 0 0.5rem; // İkonlar arasında boşluk eklemek için
      color: inherit;

      &:hover {
        color: #007bff; // İkonların üzerine gelindiğinde renk değişimi
      }
      &:hover .fa-whatsapp {
        color: #25d366; // WhatsApp simgesi için yeşil renk
      }
    }
  }
}
