.logo {
  width: auto; // İstediğimiz genişlik
  height: 90px; // Oranları korumak için
}

.second-logo {
  margin-left: 10px; // İkinci logo ile birinci logo arasına boşluk ekleyin
  width: auto; // İkinci logonun genişliğini ayarlayın
  height: 50px; // Oranları korumak için
}
